h1{
    text-align: center;
}

h2{
    text-align: center;
}

.container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input{
    padding: 12px 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  ul{
    list-style-type: none;
    font-size: 18px;
  }


